---
import Layout from "../layouts/Default.astro";
---

<Layout title="Home Page">
  <main class="min-h-full bg-isabelline">
    <section class="container mx-auto py-8 px-4 sm:px-0">
      <section class="bg-white p-8 text-center rounded-md">
        <a class="hover:underline text-2xl" href={`/products/`}
          >Explore Products</a
        >
      </section>
    </section>
  </main>
</Layout>
