---
import Layout from "../../layouts/Default.astro";
import { fetchProducts } from "../../data/products";
import ProductDetails from "../../components/ProductDetails";

export async function getStaticPaths() {
  const products = await fetchProducts();

  return products.map((product) => {
    return {
      params: { id: product.id.toString() },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;
---

<Layout title={product.title}>
  <main class="min-h-full bg-isabelline">
    <section class="container px-4 py-8 mx-auto sm:px-0">
      <ProductDetails {product} />
    </section>
  </main>
</Layout>
