---
import Layout from "../../layouts/Default.astro";
import { fetchProducts } from "../../data/products";
import ProductList from "../../components/ProductList";

const products = await fetchProducts();
---

<Layout title="Shop">
  <main class="min-h-full bg-isabelline">
    <section class="container px-4 py-8 mx-auto sm:px-0">
      <h2
        class="pb-2 text-lg font-black text-black uppercase border-b-2 border-gray-100"
      >
        All Products
      </h2>
      <ProductList {products} />
    </section>
  </main>
</Layout>
