---
import { fetchProducts } from "../../data/products";
import ProductList from "../../components/ProductList";

const products = await fetchProducts();
---

<html lang="en">
  <head> </head>

  <body>
    <main class="wrapper">
      <section class="py-8 px-4">
        <h2
          class="text-lg font-black text-black uppercase border-b-2 border-gray-100 pb-2"
        >
          All Products
        </h2>
        <ProductList {products} />
      </section>
    </main>
  </body>
</html>
